---
import { getCollection } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'
import Tag from '@/components/Tag.astro'
import Base from '@/layouts/Base.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<Base content="Blog">
  <main>
    <section class="bg-base-300">
      <ul class="flex flex-col gap-4">
        {
          posts.map((post) => (
            <li class="card-body">
              <a href={`/blog/${post.id}/`}>
                <h4 class="card-title">{post.data.title}</h4>
                <p class="text-slate-500">
                  <FormattedDate date={post.data.pubDate}/>
                </p>
              </a>
              <ul class="card-actions">
                {post.data.tags.map((tag) => (<Tag>{tag}</Tag>))}
              </ul>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>
