<nav class="navbar px-4 py-2">
  <div class="flex flex-row items-center gap-5">
    <h1 class="font-bold text-2xl italic">
      <a href="/">RebelAstronomer</a>
    </h1>
    <div>
      <a href="/blog">
        <h4 class="font-semibold">Posts</h4>
      </a>
    </div>
  </div>
</nav>
